body {
    /* background: linear-gradient(-90deg, #667EEA, #C33764, #764BA2, #537895);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    margin: 0px; */
    background-image: url(https://images.pexels.com/photos/1631677/pexels-photo-1631677.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
}
/* 
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */
#heading{
    color: rgb(0, 0, 0);
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 50px;
    
}
#main{
    display: flex;
    justify-content:center;
    margin-top: 30px;
    margin-bottom: 20px;
}
input{
    background-color: #232D3F;
    color: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 10px;
    border: 2px solid rgb(97, 97, 97);
    width: 400px;
    font-size: 18px;
}
::placeholder {
    color: rgba(255, 255, 255, 0.352);
    opacity: 5; 
  }
  

#addBtn{
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);
    border-radius: 50%;
    margin-left: 20px;
    transition: 0.3s;
    border: 1px solid #6C5B7B;
    width: 50px;
    height: 50px;
  

 
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 10px #313131;
}
#addBtn:hover{
    background-position: right center;
}

#todos{
  
    margin-left: 520px;
}
.todo{
    display: flex;
    justify-content:space-between;
    background-color: rgba(83, 83, 83, 0.758);
    margin-right: 50px;
    margin-left: 5px;
    margin-top: 10px;
    padding-left: 5px;
    border-radius: 20px;
    width:40% ;
}
#btn{
    padding-top: 2px;

}
.delBtn{
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
    border-radius: 50%;
    width: 35px;
    margin: 10px;

    height: 35px;
    transition: 0.3s;
    flex: 1 1 auto;
 
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 10px #313131;


}
.delBtn:hover{
    background-position: right center;
}
.editBtn{
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);    border-radius: 50%;
    width: 35px;
    margin: 10px;
    height: 35px;
    transition: 0.3s;
    flex: 1 1 auto;
 
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 10px #313131;


}
.editBtn:hover{
    background-position: right center;
}
h2{
    color: #000000;
    margin: 10px;
    font-family: "Playfair Display", serif;
}
.checkbox{
    width: 20px;
    height: 20px;
    margin-top: 0px;
    margin-right: 25px;
    appearance: none;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    transition: background-color 0.3s, border-color 0.3s;
}
    


.checkbox:checked {
    background-color: rgb(255, 119, 0);
    border-color: orange;
}

.checkbox:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);
}
.strikethrough {
    text-decoration: line-through;
    color: #3b3b3b;
}

.progress-container {
    width: 100%;
    background-color: #f3f3f3;
    margin-bottom: px;
    overflow: hidden;
}

#progress-bar {
    height: 20px;
    background-color: #f48e2e;
    width: 100%;
    transition: width 0.5s ease-in-out;
}
.edit-input {
    font-size: 16px;
    padding: 5px;
    margin-left: 10px;
    width: calc(100% - 40px);
    display: inline-block;
}





